.ant-carousel .slick-slide {
    text-align: center;
    height: 250px;
    line-height: 250px;
    background: #364d79;
    overflow: hidden;
  }
  
  .notice.ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .notice.ant-carousel .slick-slide {
    text-align: center;
    line-height: 250px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }


  .btn {
      top: 150px;
      position: fixed;
      z-index: 999;
  }

  body { 
    font-size: 25px;
                                                
    
  }

  .header {
    text-align: center;
    font-size: 80px;
    color: orange;
    background-color: antiquewhite;
    font-family: 'Tangerine', 'Inconsolata', 'Droid Sans', serif; 
  }